* {
    box-sizing: border-box;

}
body {
    margin: 0;
    font-family: 'Bebas Neue', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    scroll-behavior: smooth;
    letter-spacing: 2px;
}
button{
    all: unset;
}

/* reusable styling */
.title{
    /* color: rgb(155, 155, 155); */
    color: aliceblue;
    padding: 20px;
    letter-spacing: 5px;
}
.img{
    min-width: 250px;
    min-height: 250px;
    margin-top: 10px;
    /* background-color: rgb(189, 189, 189); */
    display:flex;
    justify-content: center;
    align-items: center;
}
.light{
    color: rgb(155, 155, 155);
}
/* end of reusable styling */

/* navbar styling */
.topnav {
    overflow: hidden;
    background-color: rgb(21, 14, 14);
}
.topnav span {
    float: left;
    color: #ff1e1e;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 30px;
    font-family: impact;
    letter-spacing: 2px;
}
.topnav input[type=text] {
    padding: 6px;
    /* padding-left: 15px; */
    margin-top: 20px;
    margin-right: 30px;
    font-size: 17px;
    border: none;
}
.topnav input[placeholder]{
    font-family: 'Bebas Neue';
    letter-spacing: 1px;
}
.topnav .search-container {
    float: right;
}
.search-container input{
    border-radius: 10px 10px;
    width: 30px;
    background-color: rgb(21, 14, 14);
}
/* end of navbar styling */

/* artist section styling */
.artist-section{
    min-height: 340px;
    background-color: rgb(18, 18, 18);
    padding: 50px 50px 20px 50px;

}

.artist-section .content{
    width: 90%;
    max-height: 260px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    scroll-behavior: smooth;
}
/* .artist-section .content::-webkit-scrollbar{
    background-color: #ff1e1e;
} */
.artist-section .img img{
    width: 215px;
    height: 215px;
    border-radius: 8px;
    border: 1px solid gray ;
    transition: all .2s ease-in-out;

}
.artist-section .img img:hover{
    opacity: 50%;
}

/* -----------------------------------------------------------Navegastiomn Progres Bar ------------------------------------*/
/* Style the header: fixed position (always stay at the top) */
.header {
    /* position: fixed; */
    /* top: 0; */
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
    }
    
    /* The progress container (grey background) */
    .progress-container {
        width: 100%;
        height: 8px;
        background: #ccc;
    }
    
    /* The progress bar (scroll indicator) */
    .progress-bar {
        height: 8px;
        background: #04AA6D;
        width: 0%;
    }
/*---------------------------------------------------------- end of artist section styling----------------------------*/

/* information section styling */
.about{
    background-color: rgb(23, 22, 22);
    min-height: 600px;
    /* color: rgb(155, 155, 155); */
    padding: 0px 50px 0px 50px ;
    color: aliceblue;
}
.about-content{
    padding: 0px 20px 10px 75px;
}
.about-content .top{
    display: flex;
    padding: 0px 0px 20px 0px;
}
.about-content .img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
}
.top img{
    width: 100px;
    height: 100px;
    margin: 0px 0px 0px 0px;
}
/* end of information section styling */

/* footer styling*/
.footer{
    background-color: rgb(21, 14, 14);
    min-height: 200px;
    color: aliceblue;
    letter-spacing:1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end of footer styling */