<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>

    <!-- css -->
    <link rel="stylesheet" href="../static/css/app.css"">

    <!-- Favicon -->
    <link rel=" apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest">

    <!-- Font -->
    <link href=" https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
    <!-- start of the nav section -->
    <section class="topnav">
        <div class="logo">
            <span>GROUPIE TRACKER</span>
            <div class="search-container" id="button">
                <form action="">
                    <input type="text" placeholder="&#128269 search.." name="search" id="search-id">
                </form>
            </div>
        </div>
    </section>
    <!-- end of the nav section -->

    <!-- start of the artist section -->
    <section class="artist-section">
        <div class="title">Artist

            <!-- The section is the HTML for the navigation left to right -->
            <div class="header">
                <div class="progress-container">
                    <div class="progress-bar" id="myBar"></div>
                </div>
            </div>
            <!-- end -->
        </div>
        <form action="/" method="POST">
            <div class="content" id="artistScroll">
                {{range .Artists}}
                <div class="img">
                    <button type="submit" name="artist" value="{{.ID}}" id="{{.ID}}">
                        <img src={{.Image}} alt="">
                        <div class="light">{{.Name}}</div>
                    </button>
                </div>
                {{end}}
            </div>
        </form>
        <div class="next-prev">
            <a href="#1" class="previous round">&#8249;</a> <!-- Start of next selection buton -->
            <a href="#52" class="next round">&#8250;</a> <!-- end of next selection buton -->
        </div>
    </section>
    <!-- end of the artist section -->

    <!-- start of the information section -->
    <section class="about">
        <div class="title">Information</div>
        <div class="about-content">
            <div class="top">
                <img src="{{.Data.Image}}" alt="">
                <div style=" padding-left:20px">
                    <div style="font-size:30px ">
                    </div>
                    <div style="color: #ff1e1e;font-size:25px">{{.Data.Name}}</div>
                    <div><span class="light">First Album:</span>{{.Data.FirstAlbum}} </div>

                    <!-- member section -->
                    <div>
                        {{range .Data.Members}}
                        <span class="light">|</span>{{.}}<span class="light">|</span>
                        {{end}}
                    </div>
                    <!-- end of member section -->

                </div>
            </div>
            <!-- concert section -->
            <div>
                Concerts: <br>
                {{ range $key, $value := .Data.Concerts.DatesLocations }}
                {{ $key }}:
                {{ range $date := $value }}
                {{$date}},
                {{end}}
                <br>
                {{ end }}
            </div>
            <!-- end of concert section -->
        </div>
    </section>
    <!-- end of the information section -->

    <!-- start of the footer section -->
    <section class=" footer">
        <div>Created by: Ricky Adriell, Khalid and Godfrey</div>
    </section>
    <!-- end of the footer section -->

    <!-- start of scripting -->
    <script>
        var item = document.getElementById("search-id");
        item.addEventListener("click", ClickSearch);
        function ClickSearch() { // this function is use to resize the seacrh button when clicked
            item.setAttribute("style", "width:150px;background-color:aliceblue;")
        }

        // --------------------------------------------------------the session is going to navigation but currently works top to bottom NOT left to right
        //The JS
        // When the user scrolls the page, execute myFunction 
        document.getElementById("artistScroll").onscroll = function () { myFunction() };
        function myFunction() {
            document.getElementById("artistScroll").scrollWidth
            var winScroll = document.getElementById("artistScroll").scrollLeft;
            var width = document.getElementById("artistScroll").scrollWidth - document.getElementById("artistScroll").clientWidth;
            var scrolled = (winScroll / width) * 100;
            document.getElementById("myBar").style.width = scrolled + "%";
        }

        // ------------------------------------------------------------------------------
    </script>
</body>

</html>